/* All Rights Reserved @ Uplift Consultants (Pvt) Ltd */
/************* Propertylist 2026 **************/

.DropdownMenuContent, .modal > .apps {
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 20px;
    border: 2px solid #f1f1f1;
}

.DropdownMenuContent > .title {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 20px;
}

/* Apps */
.DropdownMenuContent .appsList, .modal > .apps > .appsList {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.DropdownMenuContent .appsList .listItem .app, .modal > .apps > .appsList .listItem .app{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

.DropdownMenuContent .appsList .listItem .app:hover .icon {
    background-color: var(--primary);
}
.DropdownMenuContent .appsList .listItem .app:hover .icon svg{
    fill: #fff;
}

.DropdownMenuContent .appsList .listItem .app:hover .title {
    color: var(--primary);
}

.DropdownMenuContent .appsList .listItem .app .icon,  .modal > .apps > .appsList .listItem .app .icon {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background-color: var(--light);
}

.DropdownMenuContent .appsList .listItem .app .icon svg, .modal > .apps > .appsList .listItem .app .icon svg{
    fill: var(--primary);
}

.DropdownMenuContent .appsList .listItem .app .title, .modal > .apps > .appsList .listItem .app .title {
    font-size: 0.75rem;
    text-align: center;
}


/* UserInfo */


.DropdownMenuContent .userInfo {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
}
.DropdownMenuContent .userInfo .avatar {
    display: flex;
    color: #fff;
    font-size: 2rem;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: var(--primary);
}

.DropdownMenuContent .userInfo .greeting {
    padding: 10px;
    text-align: center;
	font-weight: 400;
	font-size: 1.375rem;
	line-height: 1.75rem;
	letter-spacing: normal;
}

.DropdownMenuContent .ul {
    display: flex;
    flex-direction: column;
}

.DropdownMenuContent .listItem .link {
    padding: 10px 20px;
    display: flex;
    font-size: 0.9rem;
    border-radius: 12px;
    background-color: #f1f1f1;
}
.DropdownMenuContent .listItem .link .icon {
    margin-right: 10px;
}
