/* All Rights Reserved @ Uplift Consultants (Pvt) Ltd */
/************* Propertylist 2026 **************/
@charset "UTF-8";

header.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 72px;
    background-color: var(--white);
    border-bottom: 1px solid #e0e0e0;
}
header.header .btnList {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 480px) {

}

@media (min-width: 768px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1280px) {

}

@media (min-width: 1281px) {

}
