.container {
    display: flex;
    justify-content: center;
}

header {
    padding: 0 20px;
   height: 80px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
}