/* All Rights Reserved @ Uplift Consultants (Pvt) Ltd */
/************* Propertylist 2026 **************/
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%; 
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #f4f4f4;
    color: #333;
    min-height: 100dvh;
}

body > .wrapper {
    display: grid;
    min-height: 100vh;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.dFlex {
    display: flex;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

@media (max-width: 480px) {
    .sm-hidden {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .md-hidden {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .md-hidden {
        display: none;
    }
}

@media (min-width: 1281px) {
    body > .wrapper {
        grid-template-columns: 76px 1fr;
    }
    body > .wrapper > .content {
        grid-column: 2;
    }
    .md-hidden {
        display: none;
    }

}
