#portal > .overlay {
    position: fixed;
    display: flex;
    inset: 0;
    background-color: rgba(83,83,95,.8);
    cursor: pointer;
}

.overlay > .modal {
    position: relative;
    display: contents;
    z-index: 1000;
}

.overlay > .modal > .apps > .title {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 20px;
}

.overlay > .modal > .user, .overlay > .modal > .apps {
    padding: 20px;
    margin: 80px auto auto auto;
    border-radius: 20px;
    border: 2px solid #f1f1f1;
    background-color: var(--white);
}


.user .userInfo {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
}
.user .userInfo .avatar {
    display: flex;
    color: #fff;
    font-size: 2rem;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: var(--primary);
}

.user .userInfo .greeting {
    padding: 10px;
    text-align: center;
	font-weight: 400;
	font-size: 1.375rem;
	line-height: 1.75rem;
	letter-spacing: normal;
}
